.Header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 990;
  width: 100%;
  background-color: white;
  align-items: center;
}
.Logo {
  max-width: 50px;
  width: 50px;
  display: block;
  margin-left: 40px;
  height: 50px;
  border-radius: 50%;
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.Link {
  color: #313c48;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  &:hover {
    font-weight: 600;
    cursor: pointer;
  }
}
.Numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  a {
    text-decoration: none;
    color: #000;
  }
}
.Social {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.SocialContainer {
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SelectedLink {
  font-weight: 600;
  color: #ed516e;
}

@media screen and (max-width: 770px) {
  .Navbar {
    display: none;
  }
  .Header {
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  .SocialContainer {
    padding: 5px;
  }
  .Logo {
    padding: 5px;
  }
  .Numbers {
    padding: 5px;
  }
}