.Manipulations {
  background-color: #0c0c0c;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  .MainTitle {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
  }
}
.Manipulation {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 50px;
  align-items: center;
  img {
    width: 370px;
    height: 320px;
    border-radius: 16px;
  }
  li {
    max-width: 40vw;
    line-height: 1.55;
  }
}

.Text {
  display: flex;
  flex-direction: column;
}
.Title {
  font-size: 34px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.Subtitle {
  font-size: 22px;
  color: rgb(237, 81, 121);
}
.Reverse {
  flex-direction: row-reverse;
}
.ModalButton {
  margin-top: 50px;
}
@media screen and (max-width: 750px) {
  .Manipulation {
    flex-direction: column;
    img {
      width: 270px;
      height: 220px;
      padding: 10px;
    }
    li {
      max-width: 80vw;
    }
  }
  .Title {
    font-size: 24px;
  }
  .Subtitle {
    font-size: 18px;
  }
}